/*fondo base*/ 
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    background: linear-gradient(150deg, #f48fb1, #af7ac5 , #d4ac0d );
    height: 100vh;
}
/*la cajita de registo*/ 
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white  ;
    border-radius: 10px;
}

/*titulo*/
.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #d4ac0d
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.Contraseña input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
}

.Contraseña label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

form .Contraseña{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.Correo input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
}

.Correo label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
form .Correo{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.RepetirCorreo input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
}

.RepetirCorreo label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
form .RepetirCorreo{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.contraseñaR input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
}

.contraseñaR label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
form .contraseñaR{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.re-contraseña input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background: none;
    outline: none;
}

.re-contraseña label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
form .re-contraseña{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

 /*estas dos funciones son para que se mueva el texto cuando lo selecciones*/
.username::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #76448a;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
top: -5px;
color: #76448a;
}

 .usernameinput:focus ~ span::before,
 .usernameinput:focus ~ span::before{
    width: 100%;
 }

.Contraseña::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #76448a;
    transition: .5s;
}

.Contraseña input:focus ~ label,
.Contraseña input:focus ~ label{
top: -5px;
color: #76448a;
}

 .Contraseñainput:focus ~ span::before,
 .Contraseñainput:focus ~ span::before{
    width: 100%;
 }

 .Correo::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #76448a;
    transition: .5s;
}

.Correo input:focus ~ label,
.Correo input:focus ~ label{
top: -5px;
color: #76448a;
}

 .Correoinput:focus ~ span::before,
 .Correoinput:focus ~ span::before{
    width: 100%;
 }

 .RepetirCorreo::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #76448a;
    transition: .5s;
}

.RepetirCorreo input:focus ~ label,
.RepetirCorreo input:focus ~ label{
top: -5px;
color: #76448a;
}

 .RepetirCorreoinput:focus ~ span::before,
 .RepetirCorreoinput:focus ~ span::before{
    width: 100%;
 }

 .contraseñaR::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #76448a;
    transition: .5s;
}

.contraseñaR input:focus ~ label,
.contraseñaR input:focus ~ label{
top: -5px;
color: #76448a;
}

 .contraseñaRinput:focus ~ span::before,
 .contraseñaRinput:focus ~ span::before{
    width: 100%;
 }

 .re-contraseña::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #76448a;
    transition: .5s;
}

.re-contraseña input:focus ~ label,
.re-contraseña input:focus ~ label{
top: -5px;
color: #76448a;
}

 .re-contraseñainput:focus ~ span::before,
 .re-contraseñainput:focus ~ span::before{
    width: 100%;
 }


 /*el boton de iniciar*/
 input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #76448a;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
 }
 input[type="submit"]:hover{
    border-color: #af7ac5;
    transition: .5s;
 }

 .registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
 }
 .registrarse a{
    color: #af7ac5;
    text-decoration: none;
 }
 .registrarse a:hover{
    text-decoration: underline;
 }
